{% extends "main/base.html"%}
{% load static %}
{% block title %}Evento #{{ requestid }}{% endblock %}

{% block content %}



<div class="container-fluid">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1 class="pt-4">Evento #{{ requestid }} </h1>
        
        <div class="container mt-3">
          <h2>Welcome To The Jungle</h2>
          <h3>Deliriumm</h3>
        </div>

        <div class="container">
            <p>Toda la info del evento compra etc</p>
        </div>

    </div>

    
</div>



{% endblock %}